* {
  margin: 0;
  padding: 0;
}
/* header */
#header-section {
  box-shadow: 0px 20px 40px rgb(236, 236, 238);
  padding-top: 17px;
  padding-bottom: 17px;
}

header {
  display: flex;
  justify-content: space-between;
  width: 85%;
  margin: auto;
  align-items: center;
}

ul {
  display: flex;
  gap: 70px;
  list-style: none;
  width: 100;
  align-items: center;
}
.nav-list a {
  text-decoration: none;
  color: black;
  font-size: 20px;
}

.nav-list button {
  background-color: black;
  color: white;
  border-radius: 7px;
  padding: 5px 10px;
}
.nav-list button:hover {
  cursor: pointer;
}

/* hero section */
#greetings {
  background-color: lightgrey;
  display: flex;
  width: 150px;
  justify-content: center;
  padding: 10px 18px;
  border-radius: 40px;
  margin: 90px auto 50px;
  font-weight: 800;
}

#hero-section h1 {
  text-align: center;
  font-size: larger;
  background: rgb(248, 97, 97);
  color: (srgb rgb(248, 76, 76) green blue);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 76px;
  font-weight: 700;
}

#hero-p2 {
  padding-left: 100px;
  padding-right: 100px;
  margin-top: 70px;
  text-align: center;
}
#h1 {
  margin-top: 15px;
  background-clip: text;
  background: linear-gradient(97.1deg, #c41740 4.8%, #ea9c28 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 76px;
  font-weight: 700;
  text-align: center;
}

/* blogs section */
#blogs-section {
  width: 100%;
  height: 100vh;
  background-color: #f2f4f7;
  /* margin-top: 70px; */
  padding-top: 50px;
}
.view-all {
  width: 70%;
  display: flex;
  justify-content: space-between;
  margin: auto;
}
.view-all button {
  background-color: white;
  border: 0;
  padding: 10px 15px;
  border-radius: 7px;
}

.blogs-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 50px;
  
}
.blog {
  width: 67%;
  background-color: white;
  display: flex;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 16px;
}
.blog img {
  width: 250px;
  /* justify-content: ; */
}
.texts span {
  color: #667085;
  font-size: 12px;
  font-weight: 400;
}

.texts h2 {
  color: #1d2939;
  font-size: 20px;
  font-weight: 600;
  margin-top: 10px;
}

.texts p {
  color: #475467;
  font-size: 15px;
  font-weight: 500;
  margin-top: 20px;
}

/* blog section  */
#blogs-section {
  width: 100%;
  height: 100%;
  background-color: #f2f4f7;
  margin-top: 70px;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.view-all {
  width: 70%;
  display: flex;
  justify-content: space-between;
  margin: auto;
}

.blog {
  display: flex;
  width: 60%;
  background-color: white;
}

.texts span {
  color: #667085;
  font-size: 12px;
  font-weight: 400;
}

#blog-section {
  width: 100%;
  height: 770px;
  background-color: #f2f4f7;
  margin-top: 70px;
  padding-top: 50px;
}

.view-all {
  width: 70%;
  display: flex;
  justify-content: space-between;
  margin: auto;
}

.blog {
  display: flex;
  width: 60%;
  background-color: white;
}

.texts span {
  color: #667085;
  font-size: 12px;
  font-weight: 400;
}

/* blog section  */
#blog-section {
  width: 100%;
  height: 770px;
  background-color: #f2f4f7;
  margin-top: 70px;
  padding-top: 50px;
}

.view-all {
  width: 70%;
  display: flex;
  justify-content: space-between;
  margin: auto;
  padding-left: 20px;
}

.blog {
  display: flex;
  width: 60%;
  background-color: white;
  justify-content: space-between;
}

.texts span {
  color: #667085;
  font-size: 12px;
  font-weight: 400;
}

#blog-section {
  width: 100%;
  height: 770px;
  background-color: #f2f4f7;
  margin-top: 70px;
  padding-top: 50px;
}

.view-all {
  width: 70%;
  display: flex;
  justify-content: space-between;
  margin: auto;
}

.blog .blog3 {
  width: 100%;
  display: flex;
  width: 60%;
  background-color: white;
  
}

.texts span {
  color: #667085;
  font-size: 12px;
  font-weight: 400;
}

#footer {
    padding-left: 100px;
    padding-right: 100px;
    text-align: center;
    margin-top: 40px;
}
#footer h2{
    color: #c41725;
}